<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>監査サンプリングツール(csv版)</title>
    <!-- SheetJS xlsxモジュールの読み込み -->
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
    <!-- bootstrap5.3 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- style.css -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body class="bg-secondary-subtle wrapper">
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{{ url_for('home_page') }}">Ontology</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home_page') }}">ホーム</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">
                            監査サンプリングツール
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{  url_for('sampling_xlsx_page')}}">xlsx版</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('sampling_csv_page') }}">csv版</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container bg-white p-5 my-5 rounded">
            <div class="row">
                <div class="col-9">
                    <h1>監査サンプリングツール（csv版）</h1>
                    <p>csvファイルをアップロードしてください<span class="text-danger">(※:UTF-8のみ対応)</span></p>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary" href="{{ url_for('sampling_xlsx_page') }}">xlsx版に移動する</a>
                </div>
            <hr>
            <div class="col">
                <form method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="fileInput" class="form-label">csvファイル</label>
                        <input type="file" class="form-control" id="fileInput" name="fileInput" required>
                    </div>
                    <div class="mb-3">
                        <label for="sheetNameSelectBox" class="form-label">シート名</label>
                        <select class="form-control" id="sheetNameSelectBox" name="sheetNameSelectBox" disabled>
                            <option value="#">csvファイルには、シート名が存在しません</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="rowNumberInput" class="form-label">行番号</label>
                        <input type="number" class="form-control" id="rowNumberInput" name="rowNumberInput" placeholder="要素名を含む行を選択(半角数字)" required>
                    </div>
                    <div class="mb-3">
                        <label for="columnNameSelectBox" class="form-label">金額列名</label>
                        <select class="form-control" id="columnNameSelectBox" name="columnNameSelectBox" required>
                            <option value="#">金額列名を選択してください</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="randomState" class="form-label">シード値</label>
                        <input type="number" class="form-control" id="randomState" name="randomState">
                    </div>
                    <button type="submit" class="btn btn-primary">アップロード</button>
                </form>
            </div>
        </div>
    </div>
    <footer class="text-white bg-dark text-center p-4">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <!-- 調整のための空カラム -->
                </div>
                <div class="col-md-3">
                    <h3 class="pt-2 text-wrap"><a class="nav-link" href="{{ url_for('home_page') }}">Ontology</a></h3>
                </div>
                <div class="col-md-3 text-nowrap">
                    <p>合同会社オントロジー</p>
                    <p>稲垣大輔公認会計士事務所</p>
                </div>
                <div class="col-md">
                    <!-- 調整のための空カラム -->
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>&copy; 2023 Ontology Inc.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- モーダル -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">ファイルのアップロード確認</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    選択されたファイルをアップロードします。よろしいですか？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    <button type="button" class="btn btn-primary" id="confirmUpload">アップロード</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        // csvデータをグローバル変数とする
        var csvData;

        // csvファイルの読み込み
        document.getElementById('fileInput').addEventListener('change', function(event) {
            var file = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function(e) {
                // csvデータ取得
                var data = e.target.result;
                var workbook = XLSX.read(data, {type: 'binary'});
                var sheetName = workbook.SheetNames[0];
                csvData = workbook.Sheets[sheetName];
            };
            reader.readAsText(file);
        });

        document.getElementById('rowNumberInput').addEventListener('change', function(event) {
            var inputValue = parseInt(event.target.value) - 1; // 行番号を取得（1始まりを0始まりに変換）
            // csv_dataが入力されているときのみ作動
            if (csvData) {
                // 任意の行情報取得
                var headers = XLSX.utils.sheet_to_json(csvData, {header: 1})[inputValue];
                var columnNameSelectBox = document.getElementById('columnNameSelectBox');
                columnNameSelectBox.innerHTML = ''; // セレクトボックス内のオプションをクリア

                // カラム名をセレクトボックスとして表示する
                var columnNameSelectBox = document.getElementById('columnNameSelectBox');
                headers.forEach(function(header) {
                    var option = document.createElement("option");
                    option.value = header;
                    option.textContent = header;
                    columnNameSelectBox.appendChild(option);
                });
            }
        });
    </script>
    <!-- bootstrap5.3 モーダル -->
    <script>
        // モーダルのアップロードボタンのイベントリスナー
        document.getElementById('confirmUpload').addEventListener('click', function() {
            // フォームのサブミットをトリガーする
            document.querySelector('form').submit();
        });
        // 元のアップロードボタンのイベントを上書き
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault(); // フォームの自動送信を防止
            // モーダルを表示
            var modal = new bootstrap.Modal(document.getElementById('confirmationModal'));
            modal.show();
        });
    </script>
    <!-- bootstrap5.3 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>